<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:bean="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   <context:annotation-config/>
    <!--<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>-->

    <bean id="demoService1"   class="com.neusoft.train.demo.annotations.service.impl.DemoServiceImpl1"/>
    <bean id="demoService2"   class="com.neusoft.train.demo.annotations.service.impl.DemoServiceImpl2"/>
    <bean id="demoService3"   class="com.neusoft.train.demo.annotations.service.impl.DemoServiceImpl3"/>
    <bean id="demoDao"   class="com.neusoft.train.demo.annotations.dao.impl.DemoDaoImpl"/>

  </beans>
    